<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <div>
            Message: {{message}}
        </div>

        <div>
            <input v-model="message">
        </div>

        <p v-bind:title="message">Hover over this paragraph.</p>
        <button @click="updateMsg">Update Message</button>

        <div v-bind:class="message">This is a test message for checking classes</div>
        
        <h1 v-show="message==='Hello'">Shows only when argument evalueates to true</h1>

        <!-- Computed Property -->
        <h2>Expanding test</h2>
        <span v-bind:style="{fontSize: myFontSize}">
            Does this change size ? 
        </span>

        <!-- Watcher -->
         <h2>Some responsive text</h2>
         <div>{{msg2}}</div>

        <h2>And a loop</h2>
        <ul>
            <li v-for="(x,i) in message">
                {{i}} - {{x}}
            </li>
        </ul>

    </div>
</body>
<script src="vue-test.js"></script>
</html>